@charset "utf-8";
body { margin:0; padding:0; width:100%; /*color:#8e8e8e;*/ font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background-color:#fff;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 { margin:0; padding: -32px 0 16px; color:#50b3ee; font:normal 32px/1.2em Arial, Helvetica, sans-serif;}
h1 a, h1 a:hover { color:#50b3ee; text-decoration:none;}
h1 small { font:normal 13px/1.2em Arial, Helvetica, sans-serif; color:#8e8e8e;}
h2 { font:bold 24px Arial, Helvetica, sans-serif; color:#56b9f4; padding:8px 0; margin:8px 0;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#56b9f4; text-decoration:none; font-weight:bold;}
a:hover { text-decoration:underline;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.header_resize, .content_resize, .fbg_resize, .footer_resize {
	width:auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
}

/* header */
.header { }
.header_resize { }
.header .logo {
	float:left;
	width:auto;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 8px;
	padding-left: 0;
	position: absolute;
	left: 34px;
	top: 10px;
}
.header .languages {
	float:left;
	width:auto;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 8px;
	padding-left: 0;
	position: absolute;
	left: 400px;
	top: 15px;
}
.header .htext, .header .htext h2, .header .htext a { color:#fff;}
.header .htext h2 { padding-bottom:0; margin-bottom:0; font-weight:bold;}
.header .htext p { line-height:1.5em;}

/* search */
#formsearch { margin:10px 210px; padding:4px 12px 4px 4px; /*background-color:#56b9f4;*/}
#formsearch { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
#formsearch span {
	display:block;
	margin:6px 0;
	padding:0 8px 0 11px !important;
	padding:0 4px 0 6px;
	float:right;
	width:183px;
	background:#fff url(../images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search { margin:0; padding:5px 0; float:left; width:180px; height:20px; border:none; background:none; font:normal 13px/20px Arial, Helvetica, sans-serif; color:#a8acb2;}
/*#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:right;}*/
#formsearch input.button_search { margin:13px 0 0 0; padding:0; border:none; float:right;}

/* menu */
.menu_nav {
	float:right;
	width:auto;
	height:50px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.menu_nav ul { list-style:none; padding-top:14px;}
.menu_nav ul li { margin:0 0 0 4px; float:left; /*background:url(../images/menu_bg.gif) no-repeat right center;*/}
.menu_nav ul li a { display:block; margin:0; padding:3px 0 8px 19px; color:#8e8e8e; text-decoration:none; font-size:14px; font-weight:normal;}
.menu_nav ul li a span { padding:5px 19px 12px 0;}
.menu_nav ul li a span span { padding:5px 0 12px;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#fff; background:url(../images/menu_al.gif) no-repeat left top;}
.menu_nav ul li.active a span, .menu_nav ul li a:hover span { background:url(../images/menu_ar.gif) no-repeat right top;}
.menu_nav ul li.active a span span, .menu_nav ul li a:hover span span { background:url(../images/menu_a.gif) repeat-x top;}

/* content */
.content_resize {
	width:auto;
	background-color:#fff;
	padding-top: 32px;
	padding-right: 0;
	padding-bottom: 24px;
}
.content .mainbar {
	float:left;
	width:600px; /*width:840px; ayto itan 840*/
}

/*H parakatw css class itan etsi*/
/*.content .mainbar img { margin:0 12px 24px 0; padding:4px; border:1px solid #b7b7b7; background-color:#fff;}*/
.content .mainbar img { /*margin:0 12px 24px 0; padding:4px; border:1px solid #b7b7b7;*/ background-color:#fff;}
.content .mainbar img.fl { float:left; margin-right:12px;}
.content .mainbar .article, .content .sidebar .gadget { margin:0; padding:0 0 16px 0;}
.content .sidebar {
	float:right;
	width:200px; /*width:240px; ayto itan 240 - 300*/
}
ul.sb_menu, ul.ex_menu { margin:10px; padding:0; list-style:none; color:#959595;}
ul.sb_menu li { padding:4px 0; /*border-bottom:1px solid #e3e3e3;*/ width:180px;}
ul.ex_menu li { padding:4px 0 8px;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none; font-weight:normal;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#56b9f4; font-weight:bold;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg_resize {
	border-top:1px solid #dcebf4;
	border-bottom:1px solid #dcebf4;
	padding-top: 24px;
	padding-right: 30px;
	padding-bottom: 24px;
	padding-left: 30px;
}
.fbg img { padding:4px; background-color:#fff; border:1px solid #d6d6d6;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:384px;}
.fbg .c2 { padding:0 16px; width:206px;}
.fbg .c3 { padding:0 0 0 16px; width:236px;}
.fbg .c1 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer {
	padding-top: 28px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.footer p.lf { margin:0; padding:4px 0; float:right; width:auto; line-height:1.5em;}
ul.fmenu { margin:0; padding:2px 0; list-style:none; float:left; width:auto;}
ul.fmenu li { margin:0; padding:0 4px; float:left;}
ul.fmenu li a { text-decoration:none; padding:2px 6px; color:#8e8e8e;}
ul.fmenu li a:hover, ul.fmenu li.active a { text-decoration:underline; color:#56b9f4;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}