.paginate { 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: .9em; 
 } 
  
 a.paginate { 
 border: 1px solid #000080; 
 padding: 2px 6px 2px 6px; 
 text-decoration: none; 
 color: #000080; 
 } 
  
  
 a.paginate:hover { 
 background-color: #000080; 
 color: #FFF; 
 text-decoration: underline; 
 } 
  
 a.current { 
 border: 1px solid #000080; 
 font: bold .9em Arial,Helvetica,sans-serif; 
 padding: 2px 6px 2px 6px; 
 cursor: default; 
 background:#000080; 
 color: #FFF; 
 text-decoration: none; 
 } 
  
 span.inactive { 
 border: 1px solid #999; 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: .9em; 
 padding: 2px 6px 2px 6px; 
 color: #999; 
 cursor: default; 
 } 
  
/* table { 
 margin: 8px; 
 } 
  
 th { 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: .7em; 
 background: #666; 
 color: #FFF; 
 padding: 2px 6px; 
 border-collapse: separate; 
 border: 1px solid #000; 
 } 
  
 td { 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: .7em; 
 border: 1px solid #DDD; 
 } */